@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<link rel="stylesheet" href="~/Content/CSS/formoid-metro-black.css" type="text/css" />
<script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
<form action="Guest/Register1" class="formoid-metro-black" style="background-color:#f5efff;font-size:14px;font-family:'Open Sans','Helvetica Neue','Helvetica',Arial,Verdana,sans-serif;color:#666666;max-width:480px;min-width:150px" method="post" enctype="multipart/form-data">
    <div class="title"><h2>Đăng ký</h2></div>
    <div class="element-name"><label class="title">Họ tên</label><span class="nameFirst"> <br/>          
          <input type="text" size="20" name="txtho_ten" required="required" /></span></div>
    <div class="element-input"><label class="title">Địa chỉ<span class="required">*</span></label>  <br />   
          <input class="large" type="text" name="txtdia_chi" required="required" /></div>
    <div class="element-password"><label class="title">CMND<span class="required">*</span></label>   <br />  
          <input class="large" type="text" name="txt_cmnd" value="" /></div>
    <div class="element-email"><label class="title">Địa chỉ email<span class="required">*</span></label><br /> 
    <input class="large" type="email" name="txt_email" value="" required="required" /></div>
    <div class="element-date"><label class="title">Ngày sinh<span class="required">*</span></label>   <br />  
         <input class="large" placeholder="yyyy-mm-dd" type="date" name="txt_date" required="required" /></div>
    <div class="element-checkbox"><label class="title">Giới tính<span class="required">*</span></label> <br /> 
        <input class="large" type="text" name="txtgioi_tinh" required="required" /></div>
    <br /> 
    <div class="element-password"><label class="title">PassWord<span class="required">*</span></label><br />
        <input class="large" type="text" name="txt_pass" value="" />
    </div>
    <div>
        Select Image
        <input type="file" name="file" />&nbsp;&nbsp;&nbsp;
    </div>
    <br/>

    <div class="submit"><input type="submit" value="Đăng ký" /></div>
</form>
<script type="text/javascript" src="~/Content/JS/formoid-metro-black.js"></script>